body {
    /* both values are overwritten in js */
    --boardRows: 3;
    --boardCols: 3;
}

.board {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(var(--boardCols), 1fr);
    grid-template-rows: repeat(var(--boardRows), 1fr);
}

.tile {
    width: 70px;
    height: 70px;
    border: 1px solid var(--black);
    font-weight: bold;
    font-size: -webkit-xxx-large;
}

.tile:hover {
    background-color: var(--hover);
}

.clickable {
    cursor: pointer;
}