
.board {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(var(--boardsize), 1fr);
    grid-template-rows: repeat(var(--boardsize), 1fr);
}

.tile {
    width: 70px;
    height: 70px;
    border: 1px solid var(--black);
}

.tile:hover {
    background-color: var(--hover);
}