body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    --bg: rgb(230, 230, 230);
    --black: rgb(77, 95, 95);
    --hover: rgba(0, 0, 0, 0.05);
    background-color: var(--bg);
    overflow-x: hidden;
    color: var(--black);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.material-icons {
    color: var(--black);
}

hidden {
    display: none;
}

#loading {
    position: absolute;
    pointer-events: none;
}

#logo {
    width: 50px;
    position: fixed;
    top: 10%;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}

.veryLarge {
    font-size: 40px;
}

.uppercase {
    text-transform: uppercase;
}

.createjoin {
    background-color: transparent;
    display: block;
    padding: 1px;
    /* border-bottom: 1px solid var(--black);
    border-top: 1px solid var(--black); */
}

.sizePicker {
    background-color: transparent;
    margin: 15px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid;
    width: 70px;
    text-align: center;
    font-size: 30px;
}

.groupListing {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--hover);
    cursor: pointer;
}

.groupListing:hover {
    background-color: var(--hover);
}

.groupListing > .left { grid-area: left; }
.groupListing > .right { grid-area: right; }
.groupListing > * {
    margin: 20px;
}
