body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    --bg: rgb(230, 230, 230);
    --black: rgb(77, 95, 95);
    --hover: rgba(0, 0, 0, 0.05);
    background-color: var(--bg);
    overflow-x: hidden;
    color: var(--black);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.material-icons {
    color: var(--black);
}

hidden {
    display: none;
}

.veryLarge {
    font-size: 40px;
}

.uppercase {
    text-transform: uppercase;
}
