body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    --black: darkslategrey;
    --hover: rgb(230, 230, 230);
    overflow-x: hidden;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

hidden {
    display: none;
}

.createjoin {
    background-color: transparent;
    display: block;
    padding: 1px;
    border-bottom: 1px solid var(--black);
    border-top: 1px solid var(--black);
}

.groupListing {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--hover);
    cursor: pointer;
}

.groupListing:hover {
    background-color: var(--hover);
}

.groupListing > .left { grid-area: left; }
.groupListing > .right { grid-area: right; }
.groupListing > * {
    margin: 20px;
}
